@model IEnumerable<TestApp.Completedtest>

@{
    ViewData["Title"] = "Results";
}

<h1>Results</h1>

<table class="table">
    <thead>
        <tr>
            <th>Выполнивший</th>
            <th>Тест</th>
            <th>Количество правильных</th>
            <th>Количество неправильных</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Test.Name)
                </td>
                <td>
                    @item.Answers.Where(x => x.Question.Rigthanswer == x.Value).Count()
                </td>
                <td>
                    @item.Answers.Where(x => x.Question.Rigthanswer != x.Value).Count()
                </td>
            </tr>
        }
    </tbody>
</table>